/* Header */
.header {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
}
.header-top {
  background: var(--color-one);
  color: var(--color-two);
  font-size: 18px;
  padding: 10px;
  text-align: center;
}

.header-main .inner-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.header-main .inner-logo img {
  height: 48px;
  width: auto;
  margin-right: 10px;
}

.header-main .inner-logo a {
  color: var(--color-one);
  display: flex;
  align-items: center;
}

.header-main .inner-logo span {
  font-size: 22px;
  font-weight: 600;
}

.header-main .inner-menu ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
}

.header-main .inner-menu ul li {
  margin-left: 15px;
  margin-right: 15px;
}

.header-main .inner-menu a {
  color: var(--color-one);
  font-size: 18px;
}

.header-main .inner-contact {
  color: var(--color-text);
  font-size: 18px;
}

.header-main .inner-social ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
}

.header-main .inner-social ul li {
  margin-left: 15px;
}

.header-main .inner-social ul li a {
  color: var(--color-one);
  font-size: 24px;
}

.header-main .inner-menu-mobi {
  display: none;
}

@media (max-width: 768px) {
  .header-top {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .header-main .inner-contact {
    display: none;
  }
}

@media (max-width: 768px) {
  .header-main .inner-menu,
  .header-main .inner-social {
    display: none;
  }
  .header-main .inner-menu-mobi {
    display: block;
  }
}

@media (max-width: 576px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* End Header */

/* Button */
.button {
  background-color: var(--color-text);
  color: white;
  padding: 16px 55px;
  font-size: 18px;
  border-radius: 45px;
  border: 2px solid var(--color-text);
  display: inline-block;
}

.button-two {
  background-color: var(--color-two);
  border: 2px solid var(--color-two);
}

.button-two:hover {
  background-color: white;
  color: var(--color-two);
}

.button-one {
  background-color: var(--color-one);
  border: 2px solid var(--color-one);
  padding: 8px 30px;
}

.button-one:hover {
  background-color: white;
  color: var(--color-one);
}
/* End Button */

/* Section-one */
.section-one {
  background: #f0f2f5;
  padding: 20px 0 100px 0;
}

.section-one .inner-wrap {
  display: flex;
  flex-wrap: wrap-reverse;
}

.section-one .inner-content {
  width: 50%;
}

.section-one .inner-content .inner-title {
  font-size: 60px;
  color: var(--color-one);
}

.section-one .inner-content .inner-desc {
  font-size: 20px;
  color: var(--color-one);
  margin-bottom: 40px;
}

.section-one .inner-content .inner-list {
  display: flex;
  margin-bottom: 65px;
  flex-wrap: wrap;
}

.section-one .inner-content .inner-item {
  display: flex;
  width: 50%;
  font-size: 20px;
}

.section-one .inner-content .inner-item i {
  font-size: 25px;
  margin-right: 10px;
}

.section-one .inner-image {
  width: 50%;
  position: relative;
}

.section-one .inner-image img {
  width: 100%;
}

.section-one .inner-image .inner-sale {
  position: absolute;
  top: 10px;
  right: 120px;
  background-color: var(--color-two);
  color: var(--color-one);
  width: 140px;
  height: 140px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-one .inner-image .inner-sale span:first-child {
  font-size: 24px;
  font-weight: 600;
}

.section-one .inner-image .inner-sale span:last-child {
  font-size: 50px;
  font-weight: 700;
}
@media (max-width: 992px) {
  .section-one .inner-content,
  .section-one .inner-image {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .section-one .inner-content {
    text-align: center;
  }
  .section-one .inner-content .inner-list .inner-item {
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .section-one .inner-image .inner-sale {
    right: 90px;
    height: 80px;
    width: 80px;
  }
  .section-one .inner-image .inner-sale span:first-child {
    font-size: 16px;
  }
  .section-one .inner-image .inner-sale span:last-child {
    font-size: 36px;
  }
  .section-one .inner-content .inner-title {
    font-size: 40px;
  }
}
/* End Section-one */

/* Section-two */
.section-two {
  padding: 60px 0;
}
.section-two .inner-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-two .inner-box {
  width: calc(100% / 3 - 15px);
  height: 100%;
  aspect-ratio: 4/3;
  position: relative;
  overflow: hidden;
}
.section-two img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.6s;
}
.section-two .inner-box:hover img {
  transform: scale(1.1);
}
.section-two .inner-box .inner-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
}
.section-two .inner-box .inner-tag {
  background-color: #13a05d;
  color: white;
  display: inline-block;
  padding: 4px 16px;
  border-radius: 30px;
  margin-bottom: 10px;
}
.section-two .inner-box .inner-title {
  margin-top: 0;
  font-size: 36px;
  color: white;
  margin-bottom: 40px;
}
.section-two .inner-box:nth-child(2) .inner-title,
.section-two .inner-box:last-child .inner-title {
  color: var(--color-one);
  margin-bottom: 10px;
}
.section-two .inner-box:nth-child(2) .inner-sale,
.section-two .inner-box:last-child .inner-price-new {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--color-two);
}
.section-two .inner-box:last-child .inner-price-old {
  font-size: 26px;
  margin-bottom: 20px;
  text-decoration: line-through;
}
@media (max-width: 992px) {
  .section-two .inner-box {
    width: 100%;
    aspect-ratio: 3/1;
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .section-two .inner-box {
    aspect-ratio: 1/1;
  }
}
/* End Section-two */

/* Section-Three */
.Section-Three {
  background-color: #f0f2f5;
  padding: 80px 0;
}
.Section-Three .inner-head {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.Section-Three .inner-head .inner-title {
  color: var(--color-one);
  font-size: 50px;
  text-align: center;
  margin: 0;
}
.Section-Three .inner-head .inner-desc {
  font-size: 24px;
  text-align: center;
}
.Section-Three .inner-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 80px;
}
.Section-Three .inner-wrap .inner-box {
  max-width: 300px;
  text-align: center;
}
.Section-Three .inner-wrap .inner-box .inner-logo {
  font-size: 50px;
  margin-bottom: 30px;
}
.Section-Three .inner-wrap .inner-box .inner-title {
  color: var(--color-one);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
.Section-Three .inner-wrap .inner-box .inner-desc {
  font-size: 18px;
}
@media (max-width: 768px) {
  .Section-Three .inner-wrap .inner-box {
    max-width: 100%;
  }
}
/* End Section-Three */
