/* Header */
.header {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
}
.header-top {
  background: var(--color-one);
  color: var(--color-two);
  font-size: 18px;
  padding: 10px;
  text-align: center;
}

.header-main .inner-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.header-main .inner-logo img {
  height: 48px;
  width: auto;
  margin-right: 10px;
}

.header-main .inner-logo a {
  color: var(--color-one);
  display: flex;
  align-items: center;
}

.header-main .inner-logo span {
  font-size: 22px;
  font-weight: 600;
}

.header-main .inner-menu ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
}

.header-main .inner-menu ul li {
  margin-left: 15px;
  margin-right: 15px;
}

.header-main .inner-menu a {
  color: var(--color-one);
  font-size: 18px;
}

.header-main .inner-contact {
  color: var(--color-text);
  font-size: 18px;
}

.header-main .inner-social ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
}

.header-main .inner-social ul li {
  margin-left: 15px;
}

.header-main .inner-social ul li a {
  color: var(--color-one);
  font-size: 24px;
}
/* End Header */
