/* Header */
.header {
  background-color: var(--color-one);
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: stretch;
  height: 100px;
}
.header .inner-wrap {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px;
}
.header .inner-wrap .inner-logo a {
  display: flex;
  color: var(--color-two);
  align-items: center;
}
.header .inner-wrap .inner-logo img {
  width: 40px;
  height: auto;
  margin-right: 8px;
}
.header .inner-wrap .inner-logo span {
  font-size: 25px;
  font-weight: 700;
}

.header .inner-wrap .inner-option {
  display: flex;
  align-self: stretch;
}
.header .inner-wrap .inner-option ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0px;
  justify-content: space-between;
}
.header .inner-wrap .inner-option ul li {
  display: flex;
  align-self: stretch;
}
.header .inner-wrap .inner-option ul li a {
  color: var(--color-two);
  align-content: center;
  font-weight: 500;
  font-size: 18px;
  padding: 0 18px;
  align-self: stretch;
}
.header .inner-wrap .inner-option ul li a:hover {
  background-color: white;
}

.header .inner-wrap .inner-social ul {
  list-style-type: none;
  display: flex;
  padding-left: 0;
}
.header .inner-wrap .inner-social ul li {
  margin: 0 5px;
}
.header .inner-wrap .inner-social ul li a {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: var(--color-two);
  font-size: 22px;
}
/* End Header */

/* Button */
.button {
  background-color: orange;
  width: 170px;
  height: 60px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-one {
  background-color: var(--color-three);
  color: black;
  font-weight: 500;
  transition: background-color 1s ease;
}
.button-one:hover {
  background-color: white;
}
.button-two {
  background: transparent;
  color: white;
  transition: background-color 1s ease;
  border: var(--color-text) 1px solid;
}
.button-two:hover {
  background: var(--color-three);
  color: black;
}
/* End Button */

/* Section one */

.section-one {
  background-image: url("/bai-08/project-1/assets/images/background1.jpg");
  background-size: cover;
  background-position: center -170px;
  position: relative;
  background-repeat: no-repeat;
}
/* .section-one .inner-wrap::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.7;
  background: rgb(0, 0, 0);
  z-index: 1;
} */
.section-one .inner-wrap {
  padding: 175px 0;
}
.section-one .inner-content {
  /* display: flex; */
}
.section-one .inner-content h3 {
  color: white;
}
.section-one .inner-content .inner-title {
  color: white;
  font-size: 50px;
}
.section-one .inner-content .inner-desc {
  font-size: 17px;
  font-weight: 600;
}
.section-one .inner-content .inner-button {
  display: flex;
}
.section-one .inner-content .inner-button .button {
  margin-right: 20px;
}
/* End Section one */

/* Section two */
.section-two {
  padding: 100px 0 20px 0;
  background: var(--color-one);
}
.section-two .inner-wrap .inner-content {
  display: flex;
}
.section-two .inner-wrap .inner-content .inner-box {
  width: calc(100% / 2 - 10px);
}
.section-two .inner-content .inner-box .inner-img {
  width: 100%;
  height: auto;
}
.section-two .inner-content .inner-box .inner-img img {
  width: 88%;
  height: auto;
  border-radius: 10px;
}
.section-two .inner-content .inner-box:last-child {
  padding-left: 20px;
  padding-top: 24px;
}
.section-two .inner-content .inner-box:last-child .inner-note p {
  font-weight: 700;
  font-size: 18px;
  margin: 0;
}
.section-two .inner-content .inner-box:last-child .inner-title h1 {
  font-size: 60px;
  font-weight: 700;
  color: black;
  margin: 15px 0;
}
.section-two .inner-content .inner-box:last-child .inner-list {
  width: 100%;
  height: auto;
  display: flex;
  padding-top: 20px;
}
.section-two .inner-content .inner-box:last-child .inner-list .inner-item {
  aspect-ratio: 1 / 1;
  width: calc(100% / 3 - 45px);
  height: auto;
  background: white;
  margin-right: 26px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-two
  .inner-content
  .inner-box:last-child
  .inner-list
  .inner-item
  .inner-icon {
  font-size: 36px;
  color: #ff8484;
}
.section-two
  .inner-content
  .inner-box:last-child
  .inner-list
  .inner-item
  .inner-desc
  p {
  font-size: 16px;
  font-weight: 600;
  color: black;
  line-height: 1;
  margin: 0;
}
.section-two .inner-content .inner-box:last-child .inner-desc {
  padding-top: 10px;
}
.section-two .inner-content .inner-box:last-child .inner-desc p {
  font-size: 18px;
  line-height: 1.4;
  margin: 0;
  margin-top: 16px;
}
.section-two .inner-content .inner-box:last-child .inner-button {
  padding-top: 28px;
}
/* End Section two */

/* Section three */
.section-three {
  background: var(--color-one);
  padding: 150px 0 20px 0;
}
.section-three .inner-wrap .inner-content {
  display: flex;
}
.section-three .inner-content .inner-box {
  background: white;
}
.section-three .inner-wrap .inner-content .inner-box:first-child {
  width: calc(100% * 7 / 10);
  height: 100%;
  padding: 60px;
}
.section-three .inner-wrap .inner-content .inner-box:last-child {
  width: calc(100% * 3 / 10);
}
.section-three .inner-content .inner-box:last-child .inner-image {
  width: 100%;
  height: 100%;
}
.section-three .inner-content .inner-box:last-child .inner-image img {
  width: 80%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transform: scale(1.2);
  transform-origin: bottom;
}
.section-three .inner-content .inner-box .inner-note {
  padding-bottom: 20px;
}
.section-three .inner-wrap .inner-content .inner-box .inner-note p {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}
.section-three .inner-wrap .inner-content .inner-box .inner-title h1 {
  margin: 0;
  font-size: 65px;
  color: black;
}
/* End Section three */

/* Section four */
.section-four {
  padding: 50px 0;
}
.section-four .inner-title {
  margin: 0;
  font-size: 26px;
  color: black;
}
.section-four .inner-desc p {
  margin: 0;
  font-size: 18px;
  line-height: 1.6;
}
.section-four .inner-list {
  display: flex;
  padding-top: 20px;
}
.section-four .inner-list .inner-item {
  width: calc(100% / 3);
}
.section-four .inner-list ul {
  list-style-type: none;
  padding-left: 0;
}
.section-four .inner-list ul li {
  margin-bottom: 24px;
  font-size: 18px;
}
.section-four .inner-list ul li::before {
  content: "✓";
  margin-right: 20px;
  color: black;
  background-color: var(--color-one);
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
/* End Section four */
